*{
    margin:0;
    padding: 0;
}
body{
    background: #9b59b6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{
    text-align: center; 
    margin: 2rem;
}
.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ip-display .location-display .geo-display{
    font-size: calc(2rem +1vw);
    color: white;
    margin: 0.8rem;
}
.lookup-btn{
    border: none;
    background: #353b48;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 250ms linear;
}
.lookup-btn:hover{
    opacity:0.8;
}
.loader-container{
    display: none;
}
.loader{
width: 10px;
height: 35px;
background: #f5f6fa;
margin: 4px;


}
.loader1{
    animation: loading 1s ease-in-out infinite alternate 0.5s;
}
.loader2{
    animation: loading 1s ease-in-out infinite alternate0.8s;
}
.loader3{
    animation: loading 1s ease-in-out infinite alternate0.9s;
}
@keyframes loading {
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.3);
    }
    
}
.details{
    text-align: center;
}